<div class="container" ng-controller="FinishCtrl as vm">
        <div class="header clearfix">
            <h3 class="text-muted">Star Wars - Quiz</h3>
        </div>
    
        <div class="jumbotron text-center">
            <img src="images/star-wars.png" alt="">
            
            <br>
            <br>
    
            <p class="lead">Seu teste acabou veja sua pontuação</p>
            <p>
                    <b>{{ vm.total }} pontos</b>
            </p>
        </div>
    
    </div>
    <!-- /container -->