<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Star Wars - Quiz</h3>
    </div>

    <div class="jumbotron text-center">
        <img src="images/star-wars.png" alt="">
        
        <br>
        <br>

        <p class="lead">Teste seus conhecimentos sobre os personagens da maior franquia Geek de todos os tempos. E que a força esteja com você</p>
        <p>
            <a class="btn btn-lg btn-success" href="#!quiz" role="button">Começar a Jogar !</a>
        </p>
    </div>

    <div class="row marketing">

        <div class="col-lg-4">
            <h4>Como Jogar</h4>
            <p></p>Você deve escrever o nome do personagem de acordo com a respectiva imagem que aparece.</p>
        </div>

        <div class="col-lg-4">
            <h4>Acertos</h4>
            <p>Cada acerto vale 10 pontos, os erros não descontam ponto algum! Você pode tentar responder apenas uma vez cada personagem! Você pode optar por pular o personagem e também não debitará nenhum ponto ganho.</p>
        </div>

        <div class="col-lg-4">
            <h4>Ajuda</h4>
            <p>A qualquer momento você pode clicar no no botão com o ícone  que aparecerá dicas sobre o personagem, mas fique atento! os acertos utilizando o botão de ajuda valem apenas 5 pontos.</p>
        </div>


    </div>

</div>
<!-- /container -->